/* ------------------------>>> first <<<----------------------------------------------------- */
.first {
	padding: 40px 0 35px;
	background: #fff url(../img/first/bg/bg_first.jpg) center 0 no-repeat;
	background-size: cover;
}

.first__title {
	font-family: "RobotoLight";
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: #565a65;

	margin: 0 0 55px;
}

.first__container {
	max-width: 1012px;
}

.first__container,
.first__innerItem {
	padding-left: 6px;
	padding-right: 6px;
}

.first__row {
	margin-left: 6px;
	margin-right: 6px;
}

.first__innerItem {
	margin-bottom: 40px;
}

.first__item {
	border: 3px solid transparent;
	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

.first__header {
	margin-bottom: 25px;
}

.first__img {
	width: 100%;
	height: auto;
}

.first__footer {
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #fff;
}

.first__innerItem:nth-child(1) .first__footer,
.first__innerItem:nth-child(2) .first__footer {
	color: #313131;
}

.first__subtitle {
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #fff;

	margin: 0 0 40px;
}

.first__orderBtn {
	display: inline-block;
	height: 50px;
	width: 210px;
	line-height: 50px;
	background-color: #f77232;
	color: #fff;
	text-transform: uppercase;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	display: inline-block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.first__orderBtn:hover {
	text-decoration: underline;
	color: #fff;
}

.first__orderBtn:focus {
	color: #fff;
}

@media ( min-width: 992px ) {

	.first__innerItem:nth-child(4n+1) {
		clear: both;
	}

}

@media ( max-width: 992px ) and ( min-width: 768px ) {

	.first__innerItem:nth-child(4n+1) {
		clear: both;
	}

}

@media ( max-width: 767px ) and ( min-width: 479px ) {

	.first__innerItem:nth-child(2n+1) {
		clear: both;
	}

}

@media ( max-width: 992px ) {

	.first__footer {
		color: #313131 !important;
	}

}

@media ( max-width: 768px ) {

	.first {
		padding-top: 30px;
	}

	.first__title {
		font-size: 20px;

		margin: 0 0 30px;
	}

}

/* ------------------------>>> first End <<<------------------------------------------------- */